# Copyright-suspected media (course/book screenshots) kept local only - ABTHDW-16
02-backend-development/spring/spring-cloud-msa/images/
02-backend-development/spring/spring-framework-di/images/
02-backend-development/authentication/oauth2/images/
